body{
    background-color: #3498DB;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin:0;
    flex-direction: column;
    align-items: center;

}
.sc{
    font-weight:bold;
    font-size:3.5rem;
    color:#2C3E50;
}
.weatherform{
    margin:20px;
}
.cityinput{
    padding:10px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid;
    margin: 10px;
}
#b{
    padding:8px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid;
    margin: 10px;
    background-color: orange;
    color: blue;
}
.card{
    background: linear-gradient(180deg,hsl(210, 56%, 54%),rgb(154, 119, 55));
    padding: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 2px;
}
p{
    font-size: 1..5rem;
    font-size: large;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}
.weatheremoji{
    margin: 0;
    font-size: 6.5rem;
}
.errordisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color:blue;
}
.citydisplay,.tempdisplay{
    font-size: 3.5rem;
}

